#body {
  padding: 30px;
}
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 4px #33618c;
  background-color: #0c3e7d;
}
#filtersBox .title {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border: solid 1px #efefef;
}
#filtersBox label {
  color: #258ec8;
}
#filtersBox .box {
  background-color: white;
  padding: 10px;
  border: solid 1px #efefef;
  font-weight: bold;
}
#hotelBox {
  background-color: white;
  border: solid 1px #efefef;
  margin-bottom: 20px;
  padding: 15px;
}
#hotelBox .hotel-img {
  width: 100%;
  height: 230px;
}
#hotelBox h5 {
  color: #258ec8;
  font-weight: bold;
  margin-bottom: -0px;
}
#hotelBox h3 {
  color: #df6800;
  font-weight: bold;
}
#hotelBox .desc-desktop {
  border-right: dashed 2px #cccccc;
}
#hotelBox .desc-mobile {
  border-bottom: dashed 2px #cccccc;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}