#body {
  padding: 30px;
  background-color: #f4f4f4;
}
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 4px #33618c;
}
.blue1 {
  background-color: #0c3e7d;
}
.blue2 {
  color: #258ec8;
}
.filters-box {
  background-color: white;
  border: solid 1px #efefef;
  padding: 10px;
}
.filters-title {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border: solid 1px #efefef;
}
.filter {
  background-color: white;
  padding: 10px;
  border: solid 1px #efefef;
  font-weight: bold;
}
.icon-filter {
  width: 15px;
}